@import "tailwindcss";


:root {
  --bg: #121212;
  --text-color: #E0E0E0;
  --primary-color: #4D00FF;
  --tetriary-color:#1E1E1E;
  --font-size-p:1.2rem;
  --font-size-med:1.4rem;
  --font-size-h2:1.6rem;
  --font-size-h1:2.2rem;
  --font-text: font-family: "gotham-book", sans-serif;
  --font-heading: font-family: "gotham", sans-serif;
}

html, body, #root {
  height: 100%;
}

body {
  color: var(--text-color);
  background: var(--bg);
  font-family: "gotham", sans-serif;
}

body h1, h2, h3{
  font-family: var(--font-heading);
}

body h1, h2{
  font-weight: bold;
}

body p, a, input, button {
  font-family: var(--font-text);
}



/* Skjul horizontale scrollbars på iOS/Chrome */
.hide-scroll::-webkit-scrollbar { display: none; }
.hide-scroll { -ms-overflow-style: none; scrollbar-width: none; }

.logo-header{
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1rem;
  margin-left: -0.7rem;
}

.landing-btn{
  display: flex;
  justify-content: flex-end;
}

.logo-header img{
  width: 40%;
  height: fit-content;
}







/* styling af feedcards */
.feed-card {
  transition: transform 0.15s ease;
}

/* Klik bounce animation */
.feed-card:active {
  transform: scale(1.2);
  transition: transform 0s;
}